<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debaser</title>

    <link rel="stylesheet" href="/assets/app.css">
  </head>

  <body>
    <div class="container">
      <div id="query-editor" class="query-editor">
        <form id='sql-editor' action='/query' method='POST'>
          <div class="toolbar">
            <select name="connection">
              <% @connections.each do |c| %>
              <option><%= c %></option>
              <% end %>
            </select>
          </div>

          <textarea name='q' rows="10" placeholder='Enter SQL Here'></textarea>

          <div class="toolbar">
            <button type='submit' class='run-query'>Run</button>
          </div>
        </form>
      </div>

      <div id='query-result' class='query-result'></div>
    </div>

    <script id='query-result-template' type="text/html">
      <table>
        <thead>
          <tr>
            {{#columnNames}}
            <th>{{.}}</th>
            {{/columnNames}}
          </tr>
        </thead>
        <tbody>
          {{#rows}}
          <tr>
            {{#.}}
              <td>{{.}}</td>
            {{/.}}
          </tr>
          {{/rows}}
        </tbody>
      </table>
    </script>

    <script src="/assets/app.js"></script>
  </body>
</html>
